body {
   	width: 300px;
   	/*height: 200px;*/
   	margin: 20px;
}

.form-control {
	margin: 15px 0;
}

#login-button {
	border-radius: 10px;
	font-size: 17px;
}

#login-header {
	margin: 0 0 20px 0;
}

.display-none {
	display: none;
}